@font-face {
  font-family: 'solidicons';
  src:  url('fonts/solidicons.eot?cqzkc3');
  src:  url('fonts/solidicons.eot?cqzkc3#iefix') format('embedded-opentype'),
    url('fonts/solidicons.ttf?cqzkc3') format('truetype'),
    url('fonts/solidicons.woff?cqzkc3') format('woff'),
    url('fonts/solidicons.svg?cqzkc3#solidicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="el-"], [class*=" el-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'solidicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-eraser:before {
  content: "\ea04";
}
.el-stopwatch:before {
  content: "\ea01";
}
.el-verified:before {
  content: "\ea02";
}
.el-delete-left:before {
  content: "\ea03";
}
.el-hourglass:before {
  content: "\e9fe";
}
.el-truck:before {
  content: "\ea00";
}
.el-wrench:before {
  content: "\e9ff";
}
.el-microphone:before {
  content: "\e9fa";
}
.el-megaphone:before {
  content: "\e9fb";
}
.el-arrow-right-arrow-left:before {
  content: "\e9fc";
}
.el-bitcoin:before {
  content: "\e9fd";
}
.el-file-edit:before {
  content: "\e9f6";
}
.el-language:before {
  content: "\e9f7";
}
.el-file-export:before {
  content: "\e9f8";
}
.el-file-import:before {
  content: "\e9f9";
}
.el-file-word:before {
  content: "\e9f1";
}
.el-gift:before {
  content: "\e9f2";
}
.el-cart-plus:before {
  content: "\e9f3";
}
.el-thumbs-down-fill:before {
  content: "\e9f4";
}
.el-thumbs-up-fill:before {
  content: "\e9f5";
}
.el-arrows-alt:before {
  content: "\e9f0";
}
.el-calculator:before {
  content: "\e9ef";
}
.el-sort-alt-slash:before {
  content: "\e9ee";
}
.el-arrows-h:before {
  content: "\e9ec";
}
.el-arrows-v:before {
  content: "\e9ed";
}
.el-pound:before {
  content: "\e9eb";
}
.el-chart-pie:before {
  content: "\e9e9";
}
.el-reddit:before {
  content: "\e9e8";
}
.el-code:before {
  content: "\e9e7";
}
.el-sync:before {
  content: "\e9e6";
}
.el-shopping-bag:before {
  content: "\e9e5";
}
.el-server:before {
  content: "\e9e4";
}
.el-database:before {
  content: "\e9e3";
}
.el-hashtag:before {
  content: "\e9e2";
}
.el-bookmark-fill:before {
  content: "\e9df";
}
.el-filter-fill:before {
  content: "\e9e0";
}
.el-heart-fill:before {
  content: "\e9e1";
}
.el-flag-fill:before {
  content: "\e9de";
}
.el-circle:before {
  content: "\e9dc";
}
.el-circle-fill:before {
  content: "\e9dd";
}
.el-bolt:before {
  content: "\e9db";
}
.el-history:before {
  content: "\e9da";
}
.el-box:before {
  content: "\e9d9";
}
.el-at:before {
  content: "\e9d8";
}
.el-arrow-up-right:before {
  content: "\e9d4";
}
.el-arrow-up-left:before {
  content: "\e9d5";
}
.el-arrow-down-left:before {
  content: "\e9d6";
}
.el-arrow-down-right:before {
  content: "\e9d7";
}
.el-telegram:before {
  content: "\e9d3";
}
.el-stop-circle:before {
  content: "\e9d2";
}
.el-stop:before {
  content: "\e9d1";
}
.el-whatsapp:before {
  content: "\e9d0";
}
.el-building:before {
  content: "\e9cf";
}
.el-qrcode:before {
  content: "\e9ce";
}
.el-car:before {
  content: "\e9cd";
}
.el-instagram:before {
  content: "\e9cc";
}
.el-linkedin:before {
  content: "\e9cb";
}
.el-send:before {
  content: "\e9ca";
}
.el-slack:before {
  content: "\e9c9";
}
.el-moon:before {
  content: "\e9c7";
}
.el-sun:before {
  content: "\e9c8";
}
.el-youtube:before {
  content: "\e9c5";
}
.el-vimeo:before {
  content: "\e9c6";
}
.el-flag:before {
  content: "\e9c4";
}
.el-wallet:before {
  content: "\e9c3";
}
.el-map:before {
  content: "\e9c2";
}
.el-link:before {
  content: "\e9c1";
}
.el-credit-card:before {
  content: "\e9bf";
}
.el-discord:before {
  content: "\e9c0";
}
.el-percentage:before {
  content: "\e9be";
}
.el-euro:before {
  content: "\e9bd";
}
.el-book:before {
  content: "\e9ba";
}
.el-shield:before {
  content: "\e9b9";
}
.el-paypal:before {
  content: "\e9bb";
}
.el-amazon:before {
  content: "\e9bc";
}
.el-phone:before {
  content: "\e9b8";
}
.el-filter-slash:before {
  content: "\e9b7";
}
.el-facebook:before {
  content: "\e9b4";
}
.el-github:before {
  content: "\e9b5";
}
.el-twitter:before {
  content: "\e9b6";
}
.el-step-backward-alt:before {
  content: "\e9ac";
}
.el-step-forward-alt:before {
  content: "\e9ad";
}
.el-forward:before {
  content: "\e9ae";
}
.el-backward:before {
  content: "\e9af";
}
.el-fast-backward:before {
  content: "\e9b0";
}
.el-fast-forward:before {
  content: "\e9b1";
}
.el-pause:before {
  content: "\e9b2";
}
.el-play:before {
  content: "\e9b3";
}
.el-compass:before {
  content: "\e9ab";
}
.el-id-card:before {
  content: "\e9aa";
}
.el-ticket:before {
  content: "\e9a9";
}
.el-file-o:before {
  content: "\e9a8";
}
.el-reply:before {
  content: "\e9a7";
}
.el-directions-alt:before {
  content: "\e9a5";
}
.el-directions:before {
  content: "\e9a6";
}
.el-thumbs-up:before {
  content: "\e9a3";
}
.el-thumbs-down:before {
  content: "\e9a4";
}
.el-sort-numeric-down-alt:before {
  content: "\e996";
}
.el-sort-numeric-up-alt:before {
  content: "\e997";
}
.el-sort-alpha-down-alt:before {
  content: "\e998";
}
.el-sort-alpha-up-alt:before {
  content: "\e999";
}
.el-sort-numeric-down:before {
  content: "\e99a";
}
.el-sort-numeric-up:before {
  content: "\e99b";
}
.el-sort-alpha-down:before {
  content: "\e99c";
}
.el-sort-alpha-up:before {
  content: "\e99d";
}
.el-sort-alt:before {
  content: "\e99e";
}
.el-sort-amount-up:before {
  content: "\e99f";
}
.el-sort-amount-down:before {
  content: "\e9a0";
}
.el-sort-amount-down-alt:before {
  content: "\e9a1";
}
.el-sort-amount-up-alt:before {
  content: "\e9a2";
}
.el-palette:before {
  content: "\e995";
}
.el-undo:before {
  content: "\e994";
}
.el-desktop:before {
  content: "\e993";
}
.el-sliders-v:before {
  content: "\e991";
}
.el-sliders-h:before {
  content: "\e992";
}
.el-search-plus:before {
  content: "\e98f";
}
.el-search-minus:before {
  content: "\e990";
}
.el-file-excel:before {
  content: "\e98e";
}
.el-file-pdf:before {
  content: "\e98d";
}
.el-check-square:before {
  content: "\e98c";
}
.el-chart-line:before {
  content: "\e98b";
}
.el-user-edit:before {
  content: "\e98a";
}
.el-exclamation-circle:before {
  content: "\e989";
}
.el-android:before {
  content: "\e985";
}
.el-google:before {
  content: "\e986";
}
.el-apple:before {
  content: "\e987";
}
.el-microsoft:before {
  content: "\e988";
}
.el-heart:before {
  content: "\e984";
}
.el-mobile:before {
  content: "\e982";
}
.el-tablet:before {
  content: "\e983";
}
.el-key:before {
  content: "\e981";
}
.el-shopping-cart:before {
  content: "\e980";
}
.el-comments:before {
  content: "\e97e";
}
.el-comment:before {
  content: "\e97f";
}
.el-briefcase:before {
  content: "\e97d";
}
.el-bell:before {
  content: "\e97c";
}
.el-paperclip:before {
  content: "\e97b";
}
.el-share-alt:before {
  content: "\e97a";
}
.el-envelope:before {
  content: "\e979";
}
.el-volume-down:before {
  content: "\e976";
}
.el-volume-up:before {
  content: "\e977";
}
.el-volume-off:before {
  content: "\e978";
}
.el-eject:before {
  content: "\e975";
}
.el-money-bill:before {
  content: "\e974";
}
.el-images:before {
  content: "\e973";
}
.el-image:before {
  content: "\e972";
}
.el-sign-in:before {
  content: "\e970";
}
.el-sign-out:before {
  content: "\e971";
}
.el-wifi:before {
  content: "\e96f";
}
.el-sitemap:before {
  content: "\e96e";
}
.el-chart-bar:before {
  content: "\e96d";
}
.el-camera:before {
  content: "\e96c";
}
.el-dollar:before {
  content: "\e96b";
}
.el-lock-open:before {
  content: "\e96a";
}
.el-table:before {
  content: "\e969";
}
.el-map-marker:before {
  content: "\e968";
}
.el-list:before {
  content: "\e967";
}
.el-eye-slash:before {
  content: "\e965";
}
.el-eye:before {
  content: "\e966";
}
.el-folder-open:before {
  content: "\e964";
}
.el-folder:before {
  content: "\e963";
}
.el-video:before {
  content: "\e962";
}
.el-inbox:before {
  content: "\e961";
}
.el-lock:before {
  content: "\e95f";
}
.el-unlock:before {
  content: "\e960";
}
.el-tags:before {
  content: "\e95d";
}
.el-tag:before {
  content: "\e95e";
}
.el-power-off:before {
  content: "\e95c";
}
.el-save:before {
  content: "\e95b";
}
.el-question-circle:before {
  content: "\e959";
}
.el-question:before {
  content: "\e95a";
}
.el-copy:before {
  content: "\e957";
}
.el-file:before {
  content: "\e958";
}
.el-clone:before {
  content: "\e955";
}
.el-calendar-times:before {
  content: "\e952";
}
.el-calendar-minus:before {
  content: "\e953";
}
.el-calendar-plus:before {
  content: "\e954";
}
.el-ellipsis-v:before {
  content: "\e950";
}
.el-ellipsis-h:before {
  content: "\e951";
}
.el-bookmark:before {
  content: "\e94e";
}
.el-globe:before {
  content: "\e94f";
}
.el-replay:before {
  content: "\e94d";
}
.el-filter:before {
  content: "\e94c";
}
.el-print:before {
  content: "\e94b";
}
.el-align-right:before {
  content: "\e946";
}
.el-align-left:before {
  content: "\e947";
}
.el-align-center:before {
  content: "\e948";
}
.el-align-justify:before {
  content: "\e949";
}
.el-cog:before {
  content: "\e94a";
}
.el-cloud-download:before {
  content: "\e943";
}
.el-cloud-upload:before {
  content: "\e944";
}
.el-cloud:before {
  content: "\e945";
}
.el-pencil:before {
  content: "\e942";
}
.el-users:before {
  content: "\e941";
}
.el-clock:before {
  content: "\e940";
}
.el-user-minus:before {
  content: "\e93e";
}
.el-user-plus:before {
  content: "\e93f";
}
.el-trash:before {
  content: "\e93d";
}
.el-window-minimize:before {
  content: "\e93a";
}
.el-window-maximize:before {
  content: "\e93b";
}
.el-external-link:before {
  content: "\e93c";
}
.el-refresh:before {
  content: "\e938";
}
.el-user:before {
  content: "\e939";
}
.el-exclamation-triangle:before {
  content: "\e922";
}
.el-calendar:before {
  content: "\e927";
}
.el-chevron-circle-left:before {
  content: "\e928";
}
.el-chevron-circle-down:before {
  content: "\e929";
}
.el-chevron-circle-right:before {
  content: "\e92a";
}
.el-chevron-circle-up:before {
  content: "\e92b";
}
.el-angle-double-down:before {
  content: "\e92c";
}
.el-angle-double-left:before {
  content: "\e92d";
}
.el-angle-double-right:before {
  content: "\e92e";
}
.el-angle-double-up:before {
  content: "\e92f";
}
.el-angle-down:before {
  content: "\e930";
}
.el-angle-left:before {
  content: "\e931";
}
.el-angle-right:before {
  content: "\e932";
}
.el-angle-up:before {
  content: "\e933";
}
.el-upload:before {
  content: "\e934";
}
.el-download:before {
  content: "\e956";
}
.el-ban:before {
  content: "\e935";
}
.el-star-fill:before {
  content: "\e936";
}
.el-star:before {
  content: "\e937";
}
.el-chevron-left:before {
  content: "\e900";
}
.el-chevron-right:before {
  content: "\e901";
}
.el-chevron-down:before {
  content: "\e902";
}
.el-chevron-up:before {
  content: "\e903";
}
.el-caret-left:before {
  content: "\e904";
}
.el-caret-right:before {
  content: "\e905";
}
.el-caret-down:before {
  content: "\e906";
}
.el-caret-up:before {
  content: "\e907";
}
.el-search:before {
  content: "\e908";
}
.el-check:before {
  content: "\e909";
}
.el-check-circle:before {
  content: "\e90a";
}
.el-times:before {
  content: "\e90b";
}
.el-times-circle:before {
  content: "\e90c";
}
.el-plus:before {
  content: "\e90d";
}
.el-plus-circle:before {
  content: "\e90e";
}
.el-minus:before {
  content: "\e90f";
}
.el-minus-circle:before {
  content: "\e910";
}
.el-circle-on:before {
  content: "\e911";
}
.el-circle-off:before {
  content: "\e912";
}
.el-sort-down:before {
  content: "\e913";
}
.el-sort-up:before {
  content: "\e914";
}
.el-sort:before {
  content: "\e915";
}
.el-step-backward:before {
  content: "\e916";
}
.el-step-forward:before {
  content: "\e917";
}
.el-th-large:before {
  content: "\e918";
}
.el-arrow-down:before {
  content: "\e919";
}
.el-arrow-left:before {
  content: "\e91a";
}
.el-arrow-right:before {
  content: "\e91b";
}
.el-arrow-up:before {
  content: "\e91c";
}
.el-bars:before {
  content: "\e91d";
}
.el-arrow-circle-down:before {
  content: "\e91e";
}
.el-arrow-circle-left:before {
  content: "\e91f";
}
.el-arrow-circle-right:before {
  content: "\e920";
}
.el-arrow-circle-up:before {
  content: "\e921";
}
.el-info:before {
  content: "\e923";
}
.el-info-circle:before {
  content: "\e924";
}
.el-home:before {
  content: "\e925";
}
.el-spinner:before {
  content: "\e926";
}
